body {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: normal;
}

a {
    text-decoration: none;
}

/*Основная страница index.html*/
/*Шапка сайта - Навигация*/
.header {
    background-color: white;
}

.navigation-link, .navigation-link-footer{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #20242D;
}

.active-nav-link {
    color: #FF7129;
}

.navigation-list-header, .navigation-list-footer{
    list-style-type: none; /*убирает маркировку со списка*/
}

/*Шапка сайта - Строка с контактными данными*/
.header-wrapper-contacts {
    background-color: #20242D;
    color: #ffffff;
}

.contacts-link, .header-address, .footer-link-documents {
    color: #ffffff;
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
}

.header-contacts-mail::before {
    content: url(/img/envelop.svg);
}

.header-contacts-phone::before {
    content: url(/img/phone.svg);
}

/*Основная страница - экран приветствия*/
.welcome-section {
    background-color: #455469;
    background-image: url(/img/home-page-welcome-bg.jpg);
    background-size: cover;
}

.welcome-title {
    font-weight: bold;
    font-size: 92px;
    line-height: 111px;
    text-align: center;
    color: #FFFFFF;
}

.welcome-title-description {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.welcome-button {
    background: #FF7129;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.3);
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    width: 187px;
    height: 49px;
    border: none;
}

/*Основная страница - экран с информацией*/
.headline {
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    color: #20242D;
}

.text-container {
    font-size: 16px;
    line-height: 24px;
    color: #20242D;
}

/*Подвал сайта*/
.footer {
    background-color: #20242D;
}

.navigation-link-footer {
    color: #FFFFFF;
}

.active-nav-link-footer {
    color: #FF7129;
}

.button-call {
    width: 187px;
    height: 49px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #FF7129;
    box-sizing: border-box;
    color: white;
    filter: drop-shadow(0px 4px 28px rgba(255, 113, 41, 0.7));
}

.footer-line {
    width: 93.75%;
    height: 1px;
    background: #7B7E85;
    opacity: 0.3;
    border: none;
}

.footer-link-documents {
    color: #7B7E85;
}

/*Страница О нас*/
.about-welcome-section {
    background-color: #455469;
    background-image: url(/img/about-page-welcome-bg.jpg);
    background-size: cover;
}

.headline-about {
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    color: #FFFFFF;
}

/*Страница Проекты и Контакты*/
.headline-projects, .headline-contacts {
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    color: #20242D;
}

.contacts-description, .contacts-address, .contacts-mail, .contacts-phone {
    font-size: 16px;
    line-height: 19px;
    color: #7B7E85;
}

.contacts-address, .contacts-mail, .contacts-phone {
    color: #20242D;
    font-style: normal;
}

.contacts-phone {
    font-weight: 600;
}

.contacts-address::before {
    content: url(/img/point.svg);
}

.contacts-mail::before {
    content: url(/img/envelop.svg);
}

.contacts-phone::before {
    content: url(/img/phone.svg);
}

/*Страница Инсталяция*/
.instalation-welcome-section {
    background-color: #455469;
    background-image: url(/img/instalation-page-welcome-bg.jpg);
    background-size: cover;
}

.headline-instalation-welcome {
    font-size: 72px;
    line-height: 87px;
    text-align: center;
    color: #FFFFFF;
}

.instalation-info-section h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #20242D;
}

.instalation-info-section p {
    font-size: 16px;
    line-height: 24px;
    color: #20242D;
}

.instalation-period-container, .instalation-questions-container, .instalation-outcome-container {
    background-color: #F5F5F5;
}

.instalation-period-container p {
    font-size: 20px;
    line-height: 30px;
}

.period-important {
    font-weight: 700;
    color: #FF7129;
}

.instalation-questions-container p {
    font-weight: 500;
}

.instalation-questions-container p::before {
    content: url(/img/arrow.svg);
}